* { 
    padding: 0; 
    margin: 0; 
    border: 1px solid grey;
} 

header { 
    background: darkslategrey; 
    color: greenyellow; 
    padding: 50px; 
    text-align: center;
}

h2 {
    background: darkslategrey;
    color: cyan;
    text-align: center;
}

p {
    background: darkslategrey;
    color: cyan;
    line-height: 1.75em;
    font-size: 18px;
    text-align: center;
} 